* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 30px;
    /* border-bottom: 1px solid #ddd; */
    background: white;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
    color: #777;
}

main {
    position: relative;
    flex: 1;
    min-height: 0;
    background: #eee;
}

/* 
.map {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.map svg {
    width: 100%;
    height: 100%;
    user-select: none;
}

.interactive-path {
    cursor: pointer;
    transition:
        opacity 0.15s ease,
        filter 0.15s ease;
} */

.map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
}

.map svg {
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: grab;
}

.map svg.dragging {
    cursor: grabbing;
}

.interactive-path {
    cursor: pointer;
    transition:
        opacity 0.15s ease,
        filter 0.15s ease;
}

.interactive-path:hover {
    opacity: 0.7;
    filter: brightness(1.2);
}

/* .selection-panel {
    position: absolute;
    top: 100px;
    right: 20px;

    width: 280px;
    padding: 20px;

    background: white;
    border-radius: 12px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
} */

.selection-panel h2 {
    margin-top: 0;
}

.selection-panel button {
    /* padding: 8px 14px; */
    border: 0;
    /* border-radius: 6px; */
    cursor: pointer;
}

/* :root {
    --panel-width: 30%;
} */

.selection-panel {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;

    width: var(--panel-width);

    background: white;

    z-index: 1000;

    /* box-shadow:
        -5px 0 25px rgba(0, 0, 0, 0.15); */

    overflow-y: auto;
}

.selection-content {
    padding: 40px 30px;
}

.selection-content h2 {
    margin-top: 0;
}

.close-button {
    position: absolute;

    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: none;
    background: transparent;

    font-size: 32px;
    line-height: 1;

    cursor: pointer;

    color: #555;
}

.close-button:hover {
    color: #000;
}

.interactive-path {
    cursor: pointer;
}

.interactive-path.mapped {
    fill: #4caf50 !important;
}

.interactive-path.mapped:hover {
    fill: #66bb6a !important;
}